.footer {
    padding: 25px;
    background-color: $lightGray;
    border-top: 1px solid #cdcdcd;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
}
