.navbar {
    width: 100%;
    background-color: $lightGray;
    border-bottom: 1px solid #cdcdcd;

    .navbar_container {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-link {
            font-size: 14px;
            font-weight: 300;
            margin: auto;
        }
    }
}
