.navbar {
    position: sticky;
    top: 0;
    background-color: $lightGray;
    border-bottom: 1px solid #cdcdcd;
    z-index: 999;
    height: 65px;

    .navbar_container {
        height: 100%;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-link {
            font-size: 16px;
            font-weight: 300;
            margin: auto;
        }
    }
}
