.navbar {
    background-color: $lightGray;
    width: 100%;

    .navbar_container {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #cdcdcd;

        .nav-link {
            font-size: 14px;
            font-weight: 300;
            margin: auto;
        }

        .write {
            background-color: black;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;
            color: white;

            &:hover {
                color: $violet;
                background-color: white;
                border: 1px solid $violet;
            }
        }
    }
}
