@tailwind base;
@tailwind components;
@tailwind utilities;

$lightGray: #f6f8fa;
$violet: #882bff;

@import "./login.scss";
@import "./components/navbar.scss";
@import "./home.scss";
@import "./components/footer.scss";
@import "./components/buttons.scss";
@import "./show-post.scss";
@import "./write.scss";
@import "./components/notification.scss";
@import "./dashboard.scss";

.logo {
    img {
        width: 250px;
    }
}

.profile-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#566071;
    background-color: #dee1e6;
}   

.profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}